{% load i18n %}
<table border="1">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Shelf" %}</th>
      <th>{% trans "Created" %}</th>
      <th>{% trans "Action" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for disket in diskettes %}
    <tr>
      <td><a href="{% url 'disket_detail' slug=disket.slug %}">{{ disket.title }}</a></td>
      <td>{{ disket.tagline }}</td>
      <td><a href="{% url 'profile' username=disket.author.username %}">{{ disket.author.username }}</a></td>
      <td><a href="{% url 'shelf' shelf=disket.shelf %}">{{ disket.shelf }}</a></td>
      <td>{{ disket.created_at|date:"Y-m-d" }}</td>
      {% if user == disket.author %}<td><a href="{% url 'disket_edit' slug=disket.slug %}">{% trans "Update" %}</a></td>{% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
