{% extends "base.html" %}
{% load md5_string %}

{% block title %}{{ profile.username }}'s Profile{% endblock %}

{% block main %}
<style>
    .profile-header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
</style>
<div class="profile">
    <div class="profile-header">
        <img width="30" height="30" src="https://www.gravatar.com/avatar/{{ profile.email|md5}}?s=30" alt="{{ profile.username }}'s Gravatar">
        <span>{{ profile.username }}</span>
    </div>
    <h2>Diskettes</h2>
    {% include "disket/_list.html" %}
</div>
{% endblock %}
