{% load i18n randint %}
<div class="disket-list">
  {% for disket in diskettes %}
  <div class="disket-list-item">
    {% randint rotation -10 10 %}
    <a
      class="disket"
      href="{% url 'disket_detail' slug=disket.slug %}"
      style="transform: rotate({{ rotation }}deg)"
    >
      <div class="disket-label" style="font-size: {% if disket.label|length > 10 %}1.5rem{% else %}2rem{% endif %}">{{ disket.label }}</div>
    </a>
  </div>
  {% empty %}
  <p>No diskettes found :(</p>
  {% endfor %}
</div>
