{% extends 'base.html' %}{% load i18n %}
{% block title %}disket.club{% endblock %}
{% block main %} 

  <details>
    <summary>Select Shelf</summary>
    <ul>
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="{% url 'shelf' shelf='games' %}">Games</a></li>
      <li><a href="{% url 'shelf' shelf='apps' %}">Apps</a></li>
      <li><a href="{% url 'shelf' shelf='tools' %}">Tools</a></li>
      <li><a href="{% url 'shelf' shelf='other' %}">Other</a></li>
    </ul>
  </details>
  {% if shelf %}
  <p>Listing {{ diskettes.count }} diskettes, on {{ shelf }}.</p>
  {% else %}
  <p>Listing {{ diskettes.count }} diskettes</p>
  {% endif %} 
  {% include 'disket/_list.html' %}
</div>

{% endblock %}
