{% extends 'base.html' %}{% load i18n %}
{% block title %}disket.club{% endblock %}
{% block main %} 
<p style="text-align: center; font-size: 1.5rem; font-weight: bold;">1.44mb altı yaratıcı kod yazarlığı</p>
  <p style="display: flex; gap: 1rem; justify-content: center;">
      <a href="{% url 'homepage' %}">{% trans "All" %}</a>
      {% for key, value in shelves %}
        <a href="{% url 'shelf' shelf=key %}">{{ value }}</a>
      {% endfor %}
  </p>
  {% include 'disket/_list.html' %}
</div>
{% endblock %}
