{% extends 'base.html' %}{% load i18n %}
{% block title %}disket.club{% endblock %}
{% block main %} 

  <details>
    <summary>{% trans "Select Shelf" %}</summary>
    <ul>
      <li><a href="{% url 'homepage' %}">{% trans "All" %}</a></li>
      <li><a href="{% url 'shelf' shelf='games' %}">{% trans "Games" %}</a></li>
      <li><a href="{% url 'shelf' shelf='apps' %}">{% trans "Apps" %}</a></li>
      <li><a href="{% url 'shelf' shelf='tools' %}">{% trans "Tools" %}</a></li>
      <li><a href="{% url 'shelf' shelf='other' %}">{% trans "Other" %}</a></li>
    </ul>
  </details>
  {% if shelf %}
    <p>{% blocktrans %}Listing {{ diskettes.count }} diskettes, on {{ shelf }}.{% endblocktrans %}</p>
  {% else %}
    <p>{% blocktrans %}Listing {{ diskettes.count }} diskettes{% endblocktrans %}</p>
  {% endif %} 
  {% include 'disket/_list.html' %}
</div>

{% endblock %}
